
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
html,body{
    margin: 0px;
    height: 100%;
    
}

*{
    box-sizing: border-box;
    font-family: "Roboto";
}
.pageContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    padding: 1rem;
    background-color: #68C174;
    display: flex;
    align-items: center;
}

.addButtonContainer{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.addTodoButton{
    font-size: 1.2rem;
    padding: .4rem;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px
    
}

.addTodoButton:hover{
    cursor: pointer;
    background-color: rgb(247, 247, 247);
    border-color: rgb(247, 247, 247);
}

.logo{
    font-size: 1.5rem;
    color: white;
    margin: 0px;
    font-family: "Roboto";
    font-weight: 700;
}

.sidebar{
    max-height: 100%;
    display: inline-block;
    background-color: rgb(245, 245, 245);
    padding: 1rem;
}


.navItem{
    margin: .5rem;
    font-size: 1.3rem;
    font-family: "Roboto";
    cursor: pointer;
    background-color: white;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 5px;
    border: 1px solid white;
    min-width: 250px;
}
.sidebarContent{
    display: flex;
    flex-grow: 1;
}

.content{
    display:flex;
    flex-grow: 1;
    justify-content: center;
    margin-top: 1rem;
}

.navItem:hover{
    border: 1px solid #68C174;
}

.navItem:hover .active{
    border: 1px solid rgb(206, 32, 32);
}

.active{
    color: white;
    background-color: #68C174;
}

.flx-clm{
    display: flex;
    flex-direction: column;
}

.todoCard{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: .5rem;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
}

.projectsTag{
    margin-left: .5rem;
    font-size: 1.2rem;
    flex-grow: 1;
}

#projectsHeaderBtn{
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
}
#projectsHeaderBtn:hover{
    background-color: rgb(247, 247, 247);
    border-color: rgb(247, 247, 247);
    cursor: pointer;
}

.todosContainer{
    display: flex;
    gap:1rem;
    flex-direction: column;
    margin-top: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
}

.title{
    margin-bottom: .1rem;
    margin-top: .2rem;
}


.divider {
    border-top: 1px solid rgb(240, 240, 240);

    width: 100%;
}

#projectsHeader {
    margin-top: 2rem;
    padding-right: .5rem;
    display: flex;
    width: 100%;
    align-items: center;
}


.formItem{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin: 1rem;
    width: 80%;
}

dialog{
    border: 1px solid white;
    border-radius: 5px;
}

.formItem label {
    font-size: 1.2rem;
}


#addTodoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formSelectItem{
    width: 80%;
}


.formSubmitButton {
    width: 80%;
}

#addProjectDialog{
    display: flex;
    justify-content: space-evenly;
}
